.about-features-container-mobile{
  background-color: white;
  padding: 60px 10px;

}
.about-feature-header-mobile{
   font-size: 15px;
   text-align: center;
   font-weight: bold;
 }
.feature-divider-mobile{
  height: 60px;
}
.feature-divider-mobile-sm{
  height: 20px;
}
.about-feature-text-mobile{
  font-size: 15px;
}

.example-row{
  padding: 0 30px;
}

.about-header-bold-mobile{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.about-flow-mobile{
  width: 100%;
  padding-bottom:20px;
}
.about-profile-pic{
  width: 35%
}

.name-text-mobile{
  font-size: 20px;
  font-weight: bold;
}

.profile-text-mobile{
  font-size: 15px;
  text-align: left;
  padding:10px;
}
.profile-text-header-mobile{
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
.profile-text-header-images-mobile-l{
  width:15%;
}
.profile-text-header-images-mobile{
  width:15%;
}

.profile-row{
  padding-left:10px;
  padding-right:10px;
}

.screen-row{
  padding-top: 50px;
}


.about-feature-text{
  font-size: 25px;
}

.about-header-bold{
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}


.profile-text{
  padding-left:60px;
  font-size: 22px;
  text-align: left;
}
.profile-text-header{
  font-size: 22px;
  text-align: left;
  font-weight: bold;
  padding-left: 140px;
}
.profile-text-header-images{
  width:160px;
}
.profile-text-header-images-p {
  width: 140px;
}
.profile-text-header-images-t{
  width: 120px;
}
