.about-register-container{
  /*padding: 10px;*/
  background-color: #2A3746;
  padding-top: 120px;
  padding-bottom: 10px;
}

.about-subheader {
  color: #ffce2c;
  font-size: 30px;
  text-align: center;
  padding-bottom: 40px;
}

.download-button1{
    width: 24%
}

.download-button2{
    width: 32%
}
