.header-container-mobile{
  /*padding: 10px;*/
  background-color: #2A3746;
  padding: 20px 10px;
}
.active-tab-mobile:-webkit-any-link{
  color: #ffce2c;
  padding: 10px;
  text-decoration: none;
  font-size: 13px;
}
.inactive-tab-mobile:-webkit-any-link{
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 13px;
}
