.partner-features-container-mobile{
  background-color: white;
  padding: 60px 20px;

}

.screen-row{
  padding-top: 50px;
}

.feature-divider{
  height: 60px;
}
.partner-feature-text-mobile{
  font-size: 15px;
}
.partner-feature-header-mobile{
  font-size: 20px;
  text-align: center;
}
.partner-feature-footer-mobile{
  padding-bottom:70px;
  font-size: 20px;
  text-align: center;
}
.partner-header-bold-mobile{
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}
