.features-container{
  background-color: white;
  padding: 60px 100px;

}

.feature-row{

}

.screen-row{
  padding-top: 50px;
}

.feature-divider{
  height: 100px;
}

.feature-logo{
  width:40% ;
  padding-bottom: 10px
}

.feature-text{
  font-size: 30px;
}

.feature-text-large-one{
  font-size: 30px;
  padding: 150px 80px 100px 100px
}
.feature-text-large-two {
  font-size: 30px;
  padding: 150px 150px 0px 40px

}
.feature-text-large-three{
  font-size: 30px;
  padding: 220px 80px 100px 100px
}
.feature-text-large-four{
  font-size: 30px;
  padding: 150px 150px 0px 40px
}



.screenshot{
  width: 50%
}

