.about-features-container{
  background-color: white;
  padding: 60px 100px;

}

.screen-row{
  padding-top: 50px;
}

.feature-divider{
  height: 60px;
}
.about-feature-text{
  font-size: 25px;
}
.about-feature-header{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.about-header-bold{
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}
.about-flow{
  width: 60%
}

.about-profile-pic{
 width: 35%
}

.name-text{
  font-size: 30px;
  font-weight: bold;
}
.profile-text{
  padding-left:60px;
  font-size: 22px;
  text-align: left;
}
.profile-text-header{
  font-size: 22px;
  text-align: left;
  font-weight: bold;
  padding-left: 140px;
}
.profile-text-header-images{
  padding: 0 40px;
}
.profile-text-header-images-p {
  padding: 0 40px;
}
.profile-text-header-images-t{
  padding: 0 45px;
}
