.primary {
  display: inline-block;
  background-color: #2B48FF;
  border: 0;
  border-radius: .4rem;
  margin: 0;
  padding: 1rem;
  color: #eee;
  font-family: inherit;
  font-size: .8rem;
  font-weight: 700;
  text-decoration: none;
  transition: background-color .4s ease-in-out 0s;
}

.primary:hover {
  background-color: #0018B3;
}