.home-container{
  background-color: #2A3746;
  padding-bottom: 60px;
}

.logo-mobile{
  width: 40%
}
.challenge-header-mobile {
  color: #ffce2c;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}
.challenge-subheader-mobile {
  color: #ffce2c;
  font-size: 15px;
  text-align: center;
  padding-bottom: 40px;
}

.register-button-mobile {
  color: white;
  background-color: #60bd98;
  font-size: 20px;
}

