.about-register-container{
  /*padding: 10px;*/
  background-color: #2A3746;
  padding-top: 120px;
  padding-bottom: 120px;

}


.about-subheader {
  color: #ffce2c;
  font-size: 40px;
  text-align: center;
  padding-bottom: 40px;
}

.about-register-button {
  color: white;
  background-color: #60bd98;
  font-size: 35px;
  padding-left: 30px;
  padding-right: 30px;
}
.logo{
  width: 80%
}

.download-button1{
    width: 29%
}

.download-button2{
    width: 37%
}