@keyframes logo-animation {
  0% {
    transform: translate3d(0, 1rem, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.container {
  max-width: var(--max-width);
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: flex-end;
}

.logo {
  width: 60px;
  animation: logo-animation ease 1s 1;
}

.logo img {
  max-width: 100%;
  margin-top: 1rem;
}

.link {
  display: inline-block;
  margin-left: 2rem;
  padding: 1rem 0;
  color: var(--dark-theme-heading-text);
  font-size: .8rem;
  font-weight: 700;
  text-decoration: none;
  /* text-shadow: 1px 1px 0 rgba(179,140,15,.5), 2px 2px 0 rgba(179,140,15,.5); */
  transition: color .4s ease-in-out 0s;
}

.link:hover {
  color: #eee;
  /* text-shadow: 1px 1px 0 rgba(31,40,51,.75), 2px 2px 0 rgba(31,40,51,.75); */
}