.container {
  max-width: var(--max-width);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.link {
  display: inline-block;
  padding: 1rem;
  color: var(--dark-theme-heading-text);
  font-size: .8rem;
  font-weight: 700;
  text-decoration: none;
  /* text-shadow: 1px 1px 0 rgba(179,140,15,.5), 2px 2px 0 rgba(179,140,15,.5); */
  transition: color .4s ease-in-out 0s;
}

.link:hover {
  color: #eee;
  /* text-shadow: 1px 1px 0 rgba(31,40,51,.75), 2px 2px 0 rgba(31,40,51,.75); */
}