.contact-register-container{
  background-color: #2A3746;
  padding-top: 120px;
  padding-bottom: 60px;

}

.contact-subheader {
  color: #ffce2c;
  font-size: 40px;
  text-align: center;
  padding-bottom: 40px;
}
.logo{
  width: 80%
}

.download-button1{
    width: 29%
}

.download-button2{
    width: 37%
}