.email-container{
  background-color: #2A3746;
  padding: 100px 40px 50px;
}
.active-footer{
  color: #ffce2c;
  font-size: 25px;
  text-align: left;
}
.launch-coming{
  color: #ffce2c;
  font-size: 40px;
  padding-top: -10px;
  text-align: center;
}

.ctaheading{
  color: white;
  font-size: 20px;
  padding-top: -10px;
  text-align: center;
}

.download-button1{
    width: 10%
}

.download-button2{
    width: 17%
}