.home-container{
  /*padding: 10px;*/
  background-color: #2A3746;
  padding-bottom: 10px;

}

.challenge-header {
  color: #ffce2c;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-top: 80px;
}

.challenge-subheader {
  color: #ffce2c;
  font-size: 30px;
  text-align: center;
  padding-bottom: 10px;
}

.challenge-maintext {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  padding-bottom: 5px;
}


.logo{
  width: 80%
}

.download-button1{
    width: 29%
}

.download-button2{
    width: 37%
}