/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Global styles declaration */
:root {
  --light-theme-background: #eee;
  --dark-theme-background: #2a3746;

  --light-theme-text: #2a3746;
  --light-theme-heading: #0018B3;
  --light-theme-link: #2B48FF;
  --light-theme-heading-hover-active-focus: #0018B3;

  --dark-theme-text: #eee;
  --dark-theme-heading-text: #ffce2c;

  --button-text: #2a3746;
  --button-background: #ffce2c;
  --button-background-hover-active-focus: #CCA423;

  --max-width: 80rem;
}

html, body {
  background-color: var(--light-theme-background);
  color: var(--light-theme-text);
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -.025rem;
  -webkit-font-smoothing: antialiased;
}