.container {
  max-width: var(--max-width);
  margin-right: auto;
  margin-left: auto;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.content,
.image {
  flex: 1 0 50%;
}

.image {
  position: sticky;
  top: 10vh;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 100%;
  max-height: 100%;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.heading {
  margin-bottom: .8rem;
  color: #2B48FF;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0,24,179,.1), 2px 2px 0 rgba(0,24,179,.1), 3px 3px 0 rgba(0,24,179,.1);
}

.text {
  font-size: 1.5rem;
}