.container {
  max-width: var(--max-width);
  margin-right: auto;
  margin-left: auto;
  padding: 2rem 1rem;
}

.container p,
.container ul,
.container ol {
  margin-bottom: 1rem;
}

.container h1,
.container h2,
.container h3,
.container h4 {
  margin-top: .5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.container ul,
.container ol {
  margin-left: 2rem;
}

.container ul {
  list-style: disc;
}

.container ol {
  list-style: decimal;
}

.container strong {
  font-weight: 700;
}

.container a {
  color: #2B48FF;
  text-decoration: none;
  transition: color .4s ease-in-out 0s;
}

.container a:hover,
.container a:active,
.container a:focus {
  color: #0018B3;
  text-decoration: underline;
}