.content p,
.content ul,
.content ol {
  margin-bottom: 1rem;
}

.content h1,
.content h2,
.content h3,
.content h4 {
  margin-top: .5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.content ul,
.content ol {
  margin-left: 2rem;
}

.content ul {
  list-style: disc;
}

.content ol {
  list-style: decimal;
}

.content table {
  margin-bottom: 1rem;
}

.content th {
  font-weight: 700;
}

.content tr {
  border: 1px solid #9e9e9e;
}
.content tr:nth-child(odd) {
  background-color: #fff;
}

.content tbody th {
  text-align: left;
}

.content th,
.content td {
  padding: .5rem 1rem;
  border: 1px solid #9e9e9e;
}

.content strong {
  font-weight: 700;
}

.content a {
  color: #2B48FF;
  text-decoration: none;
  transition: color .4s ease-in-out 0s;
}

.content a:hover,
.content a:active,
.content a:focus {
  color: #0018B3;
  text-decoration: underline;
}