.features-container-mobile{
  background-color: white;
  padding: 60px 0;
}

.feature-logo-mobile{
  width:40%
}

.feature-logo-row-mobile{
  padding-bottom:40px;
}
.feature-logo-text-mobile{
  font-size:15px;
}

.feature-text-mobile{
  padding-bottom: 40px;
  padding-left:20px;
  padding-right:20px;
}
.divider-mobile{
  height: 40px;
}
.screenshot-mobile{
  width: 40%;
  padding-bottom:60px;
}


