.about-container-mobile{
  background-color: #2A3746;
  padding-bottom: 60px;
}

.logo-mobile{
  width: 40%
}
.about-subheader-mobile {
  color: #ffce2c;
  font-size: 15px;
  text-align: center;
  padding-bottom: 40px;
}

.register-button-mobile {
  color: white;
  background-color: #60bd98;
  font-size: 20px;
}

.download-button1{
    width: 24%
}

.download-button2{
    width: 32%
}