.email-container-mobile{
  background-color: #2A3746;
  padding: 50px 30px 50px;
}
.launch-coming-mobile{
  color: white;
  font-size: 25px;
  padding-top: -10px;
  text-align: center;
}
.well-contact-mobile{
  color: white;
  font-size: 9px;
}
