.email-container-mobile{
  background-color: #2A3746;
  padding: 50px 30px 50px;
}
.launch-coming-mobile{
  color: white;
  font-size: 15px;
  padding-top: -10px;
  text-align: center;
}

.ctaheading{
  color: white;
  font-size: 15px;
  padding-top: -10px;
  text-align: center;
}

.download-button1{
    width: 10%
}

.download-button2{
    width: 17%
}